/* Основной шаблон */

/* Переменные, миксины etc. */
@colorBorder: #00B366; // Цвет бордера
@colorLink: #007D48; // Цвет ссылок
@colorMid: #E6FFF4; // Цвет основного блока
@bgImg:  url(../../img/site/background.png);
@bgImg2: url(../../img/site/bg.jpg) 0px -80px;

.borderBox {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/* Общие стили */
html,
body {
    height: 100%;
    min-height: 100%;
}

::-moz-selection {background: #60BF96;}
::selection {background: #60BF96;}

a {
    &:focus {
        outline: none;
    }
    color: @colorLink !important;
    &:hover {
        text-shadow: 1px 1px 1px #007D48;
    }
}

// Для разрешения < 480 пикс
@media all and (max-width: 480px) {
    body {
        .top {
            height: 220px;
        }
        .topmenu {
            ul {
                margin-top: 10px !important;
            }
            li {
                float: left;
                clear: both;
                width: 100% !important;
                a {
                    font-size: 1.6em !important;
                    width: 100%;
                }
            }
        }
    }
}

// Для разрешения < 680 пикс
@media all  and (max-width: 680px) {
    body {
        .topmenu {
            padding-top: 10px;
            a {
                font-size: 1em !important;
            }
        }
        .footer {
            .fourcol {
                border-right: none !important;
                border-bottom: 1px dashed #006DAD;
                padding: 10px 0px;
            }
            .last {
                border-bottom: none;
            }
        }
    }
}

// Для разрешения от 680 пикс. до 900пикс.
@media all and (min-width: 681px) and (max-width: 900px) {
    body {
        .topmenu {
            padding-top: 5px;
            li a {
                font-size: 1.6em !important;
            }
        }
        .row {
            .threecol {
                width: 46%;
                float: left;
                margin-left: 0px;
                margin-right: 0px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

// Обертка для верхнего и среднего блока
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background: @bgImg;
    width: 100%;
}

/* Верхний блок */
.top {
    height: 80px;
    border-bottom: 1px dashed @colorBorder;

    background: @bgImg2;

    .topmenu {

        padding: 0px auto;

        li {
            float: left;
            text-align: center;
            width: 20%;
            display: inline-block;
            a {
                font-size: 2em;
                text-decoration: none;
                border-bottom: 1px dotted;
            }
        }
        ul {
             margin: 20px auto;
             display: block;
             height: 40px;
        }
    }
}

/* Средний блок */
.mid {
    padding: 20px;
    background: @bgImg;
    padding-bottom: 100px;

    .row {
        .threecol  {

            margin-bottom: 30px;

            .pagename {
                text-align: center;
                margin-bottom: 10px;
                a {
                   font-size: 1.4em;
                   text-decoration: none;
                   border-bottom: 1px dotted @colorBorder;
                }
            }
            .createdDate,
            .author,
            .parentCatalog {
                color: #5a5a5a;
            }
            .content {
                margin-top: 10px;
            }
        }
    }

    .txt {
        margin-top: 20px;
    }
}


/* Нижний блок */
.bot {
    padding: 20px;
    border-top: 1px dashed @colorBorder;
    margin-top: -70px;
    min-height: 30px;
    height: auto;

    background: @bgImg2;

    footer {
        .fourcol {
            border-right: 1px dashed @colorBorder;
            padding-right: 20px;
            margin-right: 3.2%;
            .borderBox;
        }
        .last {
            border-right: none;
        }
    }
}