/* Переменные */
@color: #006600;
@bgColor: #d3fecd;
@border: 2px dotted @color;
@mainfont: 18px;

/* Общие Стили */
body {font-family: Helvetica;}

a {
    color: @color;
    text-decoration: underline;
}

a:link {
    background-color: transparent !important;
}

p {
    font-size: @mainfont;
}

.container {
    border: 2px solid @color;
    border-top: none;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #E3EEE3;
}

/* Шапка */
.one {
    p {
        display: inline-block;
        margin: 10px 10px;
        font-size: 14px;
    }

    text-align: center;

    .top {
        border-bottom: @border;
    }

    #logout {
        cursor: pointer;
    }

    .sitename {
        margin-bottom: -4px;
        display: inline-block;
        max-width: 300px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: left;
    }
}

.two {
    .menu {
        padding: 5px 10px;
        margin-top: 0px;
        text-align: center;

        li {
            display: inline-block;
            margin-left: 7px;
            margin-right: 7px;

            a {
                border-bottom: 1px dotted @color;
                text-decoration: none;
                font-size: 16px;
            }
        }
    }

    .logo {
        margin-top: -5px;
        font-size: 30px !important;
    }
    padding-left: 40px;
    margin-top: 10px;

}

.header {
    border-bottom: @border;
}

/* Тело */
.hint {
    position: relative;
    background-color: @bgColor;
    text-align: center;
    border-bottom: @border;
    .close {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

.maintools {
    padding: 10px 10px 10px 10px;
    margin-top: 0px;
    background-color: #E3EEE3;
    width: 920px;
    margin-left: 0px;

    .tools li {
        float: left;
        list-style-type: none;
        margin: 0px 9px;
    }

}

.main {
    padding: 10px 10px 10px 10px;
    margin-top: 0px;
    background-color: #E3EEE3;
    width: 920px;


    h3 {
        text-align: center;
        margin-bottom: 10px;
    }

    .tools li {
        float: left;
        list-style-type: none;
        margin: 0px 9px;
    }

    .headers {
        margin-top: 20px;
    }

    .line {
        border: none;
        border-top: @border;
        margin: 20px -9px;
    }

    .search-input {
        width: 450px;
    }

    .search {
        margin: 10px 0px;
        padding-left: 40px;
    }

    .control-group {
        margin-bottom: 20px;
    }

    .control-label {
        float: left;
        text-align: right;
        width: 140px;
        padding-top: 5px;
    }

    .controls {
        margin-left: 160px;

        select {padding: 4px;}
    }

    #robots {
        width: 280px;
    }

    .cache {
        height: 20px;
    }

    .add-on {
        margin-left: -5px;
    }

    .database {
        border: @border;
        margin-top: 30px;
        width: 410px;
        h3 {
            text-align: center;
            margin: 10px 0px;
        }
    }

    form {margin-bottom: 0px;}

    .timeout label {width: 50px;}
}

table {
    border-radius: 20px;
    margin-bottom: 20px !important;
    thead {
        background-color: #E4E4E4;
    }
    tbody {
        background-color: #fff;
    }
}

.datetable {
    width: 100px;
}

.right-table {
    width: 450px;
    margin-left: 10px;
    h3 {
        margin-top: -3px;
        text-align: center;
    }
}



/* Футер */
.footer {
    text-align: center;
    border-top: @border;
    * {
         display: inline-block;
         font-size: 16px;
         margin: 10px 20px;
    }

    a {
        vertical-align: middle;
        margin-right: 0px;
        height: 20px;
    }

    #copyright {
        margin-right: -20px;
    }

    .helper img{
        margin-top: 0px;
    }

    .helper {
        margin: 5px 0px 15px 60px;
    }

    .kohcopy {
        margin-top: 10px;
    }
}

/* Временные стили */
.control-label {
    float: left;
    text-align: right !important;
    width: 140px;
    padding-top: 5px;
}

.controls {
    margin-left: 160px;
}

.savepages {
    padding-left: 60px;
}

.table td, .table th {
    text-align: center;
    margin: 0 auto;
}

.pagination {
    text-align: center;
    margin-top: 0px;
}

.delete_table img {
    margin-left: 0px !important;
}

.center {
    text-align: center;
    margin-bottom: 20px;
}

.auto {
    width: 100%;
    height: 200px;
    max-width: 910px;
}

.htmlcodelabel {
    text-align: center;
}

.htmlcode {
    width: 910px;
    margin-bottom: 20px;
    margin-top: -20px;
}

.w200 {
    width: 180px !important;
    margin-right: 20px;
}

#metadesc, #keywords {height: 60px;}

.savecat {
    margin-left: 100px;
}

.aliasright {margin-left: -30px;}

.managerole {
    border: 2px dotted #006600;
    margin-left: 50px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.managerole h3 {
    text-align: center;
    margin: 10px 0px;
}

.managerole .control-label {
    width: 200px;
    margin-right: 20px;
}

.systemmod {
    padding-left: 30px;
}

.add-on {margin-left: -5px !important;}

#managerrss {width: 150px; height: 90px;}

.rsska {margin-left: -20px;}
.iconrss {display: block; margin: 10px 0px;}

.timeout label {width: 50px;}
.timeout .controls {margin-left: 80px;}

.rss,
.saverss {padding-left: 80px;}

.smaller {
    font-size: 10px;
    margin: -15px 0px 20px 100px;
    display: block;
}

/* Форма входа в админку */
.adminka {
    #login {
        width: 250px;
        margin: 0 auto;
        padding: 20px;
    }

    h3 {
        text-align: center;
        margin-top: 20px;
    }

    .alert-error {
        margin-top: 20px !important;
        text-align: center;
    }
}