<div class="w-addcatalog">
    <div class="wraptooltip">
        <div class="alert alert-success tooltips">
            <button class="close" data-dismiss="alert">×</button>
            <span class="center">Готово!</span>
        </div>
        <div class="alert alert-danger tooltips">
            <button class="close" data-dismiss="alert">×</button>
            <span class="center error-body"></span>
        </div>
    </div>

    <h3 class="center">Добавить каталог</h3>
    <form id="addcatalog">
        <div class="row">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="catname">Название каталога</label>
                    <div class="controls">
                        <input data-bind="value: catName, valueUpdate: 'afterkeydown'"
                               type="text" id="catname" name="catname" class="input-xlarge required">
                        <label class="fail failcatname"></label>
                    </div>
                </div>
            </div>
            <div class="span5 aliasright">
                <div class="control-group">
                    <label class="control-label" for="alias">Алиас каталога</label>
                    <div class="controls">
                        <input data-bind="value: catAlias, valueUpdate: 'afterkeydown'"
                               type="text" id="alias" name="alias" class="input-xlarge required alphanumeric">
                        <label class="fail failalias"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span11 htmlcode">
                <h3 class="htmlcodelabel">Описание каталога:
                    <label class="editorfail label label-important" for="editor">Пожалуйста введите описание каталога</label>
                </h3>
                <textarea id="editor" class="auto"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="span5">
                <div class="control-group">
                    <label class="control-label w200" for="parentcatalog">Родительский каталог:</label>
                    <div class="controls">
                        <select data-bind="value: parentCat" id="parentcatalog" class="input-medium" name="parent_id">
                            <option value="0">Нету</option>
                            {{#each item.catalogs}}
                                <option value="{{ id }}">{{ catname }}</option>
                            {{/each}}
                        </select>
                        <input type="hidden" name="status" value="1">
                        <input type="hidden" id="content" name="content" value="">
                        <input type="hidden" id="idItem" name="id" value="">
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="control-group">
                    <label class="control-label" for="datepicker">Дата создания:</label>
                    <div class="controls">
                        <input data-bind="value: catDate" id="datepicker" type="text" name="date" class="input-small">
                        <input type="hidden" id="status" value="1">
                        <input type="hidden" id="intrash" value="0">
                    </div>
                </div>
            </div>
            <div class="span2 savecat">
                <div class="control-group">
                    <button data-bind="enable: isValid" class="btn btn-success btn-large">Сохранить</button>
                </div>
            </div>
        </div>
    </form>
</div>